.header {
    padding: $main-margin-block $main-margin-inline 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__logo {
    vertical-align: middle;
}

.header__menu { 
    z-index: 100;
    position: absolute;
    top: 80px;
    width: auto;
    left: $main-margin-inline;
    right: $main-margin-inline;
    background-color: $clr-dark-violet;
    border-radius: $border-radius-regular;
    padding: 32px;

    & .header__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

        & .header__nav-item {
            padding-bottom: 24px;
        }
    }

    & .header__hr {
        border: 1px solid $clr-white;
        opacity: .1;
    }

    & .header__btn-container {
        display: flex;
        flex-direction: column;
        
        & .btn--login {
            color: $clr-white;
            padding: 24px 16px;
            background-color: inherit;
        }
    }  
}

.header__menu-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    filter: invert(50%);
}

@media (min-width: $mq-tablet) {
    .header {
        padding: calc($main-margin-block) calc($main-margin-inline + 5vw) 0;
        justify-content:start;
        position: static;
        gap: 50px;
    }

    .header__menu { 
        position: static;
        width: 100%;
        background-color: $clr-white;
        padding: 0;
        display: flex;
        justify-content: space-between;
    
        & .header__nav {
            flex-direction: row;
            gap: 30px;   
    
            & .header__nav-item {
                padding-bottom: 0px;
                color: $clr-grayish-violet;

                &:hover {
                    color: $clr-veryDark-blue;
                }
            }
        }
    
        & .header__hr {
            display: none;
        }
    
        & .header__btn-container {
            flex-direction: row;
            align-items: center;
            
            & .btn--login {
                color: $clr-grayish-violet;
                padding: 24px 16px;
                background-color: $clr-white;

                &:hover {
                    color: $clr-veryDark-blue
                }
            }          
        }       
    }   
}

@media(min-width: $mq-desktop) {
    .header {
        max-width: $max-width-desktop;
        margin-inline: auto;
        padding-inline: 0;
    }
}



