.shortening {
    padding: 0 $main-margin-inline;
    position: relative;
    background-color: $clr-light;

    &::before {
        content: "";
        position: absolute;
        width: calc(100% + $main-margin-inline * 2);
        height: 80px; //half of the shortening-container height
        left: 0;
        right: 0;
        top: 0;
        left: -$main-margin-inline;
        background-color: $clr-white;
   }
}

.shortening :last-child  {
    margin-bottom: 0px;
}

.shortening-container {
    position: relative;
    min-height: 160px;
    display: flex;
    gap: 20px;
    padding: 24px;
    margin: auto;
    max-width: 400px;
    background-color: $clr-dark-violet;
    background-image: url("/src/assets/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: $border-radius-regular;
    flex-direction: column;

    & .shortening__invalidMessage {
        display: none;
        position: absolute;
        bottom: 96px;
        color: $clr-red;
        font-style: italic;
        font-size: 14px;
    }

    & .input--showInvalidMessage {
        display: block;
    }

    .shortening__input {
        padding: 16px;
        border-radius: $border-radius-regular;
        position: relative;
    }
    
    .shortening__submit {
        padding: 16px;
    }
}

@media (min-width: $mq-tablet) {
    .shortening {
        margin: 0;
        padding-inline: calc($main-margin-inline + 5vw);
    }

    .shortening-container {
        max-width: none;
        flex-direction: row;
        padding: 48px;
        background-image: url("/src/assets/bg-shorten-desktop.svg");
        background-size: cover;

        & .shortening__invalidMessage {
            bottom: 24px;
        }

        .shortening__input {
            width: 100%;
        }

        .shortening__submit {
            width: 200px;
        }
    }
}

@media(min-width: $mq-desktop) {
    .shortening {
        padding-inline: 0;
    }
    
    .shortening > * {
        max-width: $max-width-desktop;
        margin-inline: auto;
    }
}