
// --- MOBILE ---
//color
.text-white {
    color: $clr-white;
}

.text-dark {
    color: $clr-veryDark-blue;
}

.text-light {
    color: $clr-grayish-violet;
}

.text-accent {
    color: $clr-cyan;
}

//weight
.bold {
    font-weight: $fw-700;
}

//font-size {
.fs-h1 {
    font-size: $fs-h1;
    letter-spacing: -1px;

}

.fs-h2 {
    font-size: $fs-h2;
    letter-spacing: -1px;
}

.fs-h3 {
    font-size: $fs-h3;
}

.fs-regular {
    font-size: $fs-regular;    
}

//buttons
.btn {
    display: block;
    background-color: $clr-cyan;
    color: $clr-white;
    text-align: center;
    padding: 10px 24px;
    font-weight: $fw-700;
    user-select:none;
    -webkit-tap-highlight-color: transparent; //NO MOBILE HIGHLIGHT ON BUTTONS AND ETC
}

.btn--slightly-round {
    border-radius: 8px;
}

.btn--round {
    border-radius: 50px;
}

// --- TABLET ---
@media(min-width: $mq-tablet) {
    .fs-h1 {
        font-size: 64px;
    }

    .btn:hover {
        background-color: lighten($clr-cyan, 20%);
    }
}

