* {
    //general
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    //typography
    font-family: $ff-poppins;
    font-weight: $fw-500
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

button {
    font: inherit;
    border: none;
}

img {
    display: block;
}