// --- CUSTOM VARIABLES ---
//colors
$clr-cyan: hsl(180, 66%, 49%);
$clr-dark-violet: hsl(257, 27%, 26%)
;
$clr-red: hsl(0, 87%, 67%);
$clr-gray: hsl(0, 0%, 75%);
$clr-grayish-violet: hsl(257, 7%, 63%);
$clr-veryDark-blue: hsl(255, 11%, 22%);
$clr-veryDark-violet: hsl(260, 8%, 14%);

//font-sizes
$fs-regular: 18px;
$fs-h1: 2rem;
$fs-h2: 1.5rem;
$fs-h3: 1.25rem;

//font-family
$ff-poppins: 'Poppins', sans-serif;

//font-weights
$fw-500: 500;
$fw-700:  700;